
<div class="cover mb-4 d-flex align-items-center justify-content-center">
  <div class="text-center text-black p-4">
    <h1>Chefs</h1>
  <div class="container py-5">
    <div class="d-flex align-items-center justify-content-between mb-3">
    <% @chefs.each do |chef| %>
      <%= link_to chefs_path(chef), class:'text-decoration-none' do %>
      <%= chef.name %>
      <% end %>
    <% end %>
    </div>
  </div>
</div>
