<div class="container mt-3">

  <div class="row" style='display: flex; flex-wrap: wrap; margin-right: -15px; margin-left: -15px;'>
      <% @chefs.each do |chef| %>
        <%= link_to chef_path(chef), class:'text-decoration-none' do %>
        <div class="col-5" style='max-width: 100%'>
          <div class='flat-card' style='box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%), 0 3px 1px -2px rgb(0 0 0 / 20%)'>
            <div class="flat-card-image" style='height: 300px; background-size: cover; background-position: center; background-image: url(https://images.unsplash.com/photo-1577106263724-2c8e03bfe9cf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80)'></div>
            <div class="flat-card-content" style='height: 100px; padding: 24px; \\'>
              <div class="flat-card-title">
                <h4 class='title' style='font-weight: 700;'>
                  <%= chef.name %></h4>
                  <p style='color: #476072;'><%= chef.category %></p>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>
</div>

