<div class="cover mb-4 d-flex align-items-center justify-content-center">
  <div class="text-center text-black p-4">
    <h1>Bookings</h1>
  <div class="container py-5">
    <div class="d-flex align-items-center justify-content-between mb-3">
    <p><% current_user.bookings.each do |booking| %>
      <%= link_to booking_path(booking.id), class:'text-decoration-none' do %>
        <%= booking.start_time.strftime("%l:%M %p until #{booking.end_time.strftime("%l:%M %p")} on the #{booking.start_time.day.ordinalize} of %B") %>
      <% end %>
    <% end %> <br>
    <%= link_to 'Back to chefs', chefs_path %> <br>
    </div>
  </div>
</div>
