<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.cordonbleu.edu/Files/MediaFile/58300.jpg);">
  <div class="container">
    <h1>RentAChef</h1>
    <p>Some description here.</p>
  </div>
</div>
