<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.cordonbleu.edu/Files/MediaFile/58300.jpg);">
  <div class="container">
    <h1>RentAChef</h1>
    <p>We provide highly skilled professional chefs for the perfect home dining experience. Inspired by cuisines from around the world, our team of kitchen experts provide gourmet level catering for those who demand the best for their guests. Whether you require a quality menu for a special dinner party, or something stand-out for a private function, simply select your chef and then sit back and relax.</p>
  </div>
</div>
