<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(#);">
  <div class="container">
    <h1>RentAChef</h1>
    <p>Some description here.</p>
    <a class="btn btn-flat" href="#">Book a chef</a>
  </div>
</div>
