<h1>Chefs</h1>
<div class="row">
    <% @chefs.each do |chef| %>
      <div class="co-12 colsm-6 col-md-4">
        <%= link_to chef_path(chef), class:'text-decoration-none' do %>
        <%= chef.name %>
        <% end %>
        <%= chef.description %>
      </div>
    <% end %>
  </div>
