.footer {
  background:#476072;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
  margin-bottom: 0px;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: #EEEEEE;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
  color: #334257;
}
.footer .fa-heart {
  color: #D23333;
}
.footer-copyright{
  color: #334257;
  font-size: 18px;
  // text-shadow: 0px -1px 1px rgb(56 130 206 / 45%);
}
