.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
  color: #334257 !important;
  font-size: bold !important;
}

.dropdown-item {
  color: #334257 !important;
}

img.rounded {
    height: 30px;
}
