.navbar-lewagon {
  justify-content: space-between;
  background:#476072;
  height: 60px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
  color: #EEEEEE !important;
  font-size: bold !important;
}

.dropdown-item {
  color: #334257 !important;
}

img.rounded {
  height: 30px;
  // logo white
  filter: invert(1);

}
